
/* .App{
  display: flex;
  justify-content: space-between;
}

.colon {
  display: inline-block;
  flex-direction: column;
} */

table {
  border: 1px solid black;
  width: 100%;
}

td:first-child {
  border-right: 1px solid black;
}

td {
  border-bottom: 1px solid black;
  width: 50%;
}

.row{
  border: 1px solid blue;
}
